* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.backgroundpicture {
  height: 100%;
  width: 100%;
  background: #0891b2;
  clip-path: polygon(0 0, 100% 0, 100% 49%, 0% 95%);
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.projectname h4 {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}
.projectdesc {
  padding: 1em;
}
.projectdesc p {
  color: #807e7d;
}
header {
  background-color: transparent;
  position: relative;

  height: 100vh;
}

.information {
  background-color: transparent;
  position: relative;
  z-index: 20;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: start;
  padding: 48px;
}
.project {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.projectimage {
  height: 60%;
  width: 100%;
}
.projectimage img {
  height: 100%;
  width: 100%;
}
.projectname {
  display: flex;
  flex: 1;
  justify-content: space-around;
  gap: 15%;
  align-items: center;
  margin-right: 5%;
}
.projectname ul {
  display: flex;
  gap: 64%;
}
.projectname ul li i {
  font-size: 1.5em;
}
.profilepic {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90%;
  display: flex;
  width: 40%;
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  justify-content: center;
  position: relative;
  z-index: 500;
}

div.name {
  align-self: last baseline;
  position: absolute;
  z-index: 100;
}
.aboutme {
  padding: 1em;
  display: flex;
  background-color: white;
  flex-direction: column;

  align-self: center;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 3em;
  position: relative;
  bottom: 2%;
}
.aboutme span:nth-child(2) {
  font-size: 1.3em;
  line-height: 1.4em;
  color: #807e7d;
}
.aboutme span:nth-child(3) {
  font-size: 1.3em;
  line-height: 1.4em;
  color: #807e7d;
}
.aboutme h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5em;
}
.links {
  align-self: last baseline;
}
.links ul {
  list-style: none;
  display: flex;
  margin-top: 10%;
  margin-left: -10%;
  gap: 2em;
}
#links ul {
  margin-left: 0;
}
.aboutme > * {
  flex: 1;
}
.profilepic .picture img {
  position: relative;
  z-index: 1;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.picture {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
}
.name p {
  color: black;
  font-size: 3.8rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  font-family: "Playfair Display", serif;

  overflow: hidden;
}
.projects {
  height: 140vh;
  width: 100%;
}
.gridprojects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  row-gap: 15%;
}
#links {
  margin-left: 0;
  align-self: baseline;
}

footer {
  height: 100vh;
  background-color: #0891b2;
}
footer .pictures img {
  height: 90%;
}
.content .pictures {
  height: 90%;
  width: 60%;
  align-self: center;
  flex: 1;
  margin-right: 8%;
}
.contactme {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 4%;
}
.address p {
  font-size: 1.2rem;
}

.phonelogo i {
  color: white;
}

.maillogo i {
  color: white;
}

.phone {
  display: flex;
  font-size: 1.2rem;
  gap: 5%;
}
.mail {
  display: flex;
  font-size: 1.2rem;
  gap: 5%;
}
.phonenumber p {
  color: white;
}
.email p {
  color: white;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 1%;
}
.address p {
  color: white;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10%;
  padding: 2%;
}
.contactheader h1 {
  color: white;
  font-family: "Playfair Display", sans-serif;
  font-size: 3rem;
  font-weight: 10;
}
.saying p {
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #links {
    display: flex;
  }
  footer {
    height: 70vh;
  }
  .content .pictures {
    height: auto;
    width: 60%;
    align-self: baseline;
    flex: 1;
    margin-right: 8%;
  }
  footer .pictures img {
    height: auto;
  }
  .projects {
    margin-top: -35%;
    height: 112vh;
  }
  .gridprojects {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    row-gap: 6%;
  }
  .aboutme > * {
    flex: 0;
  }

  .profilepic {
    height: 40%;
    display: flex;
    width: 53%;
    box-shadow:
      rgba(0, 0, 0, 0.07) 0px 1px 2px,
      rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px,
      rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px,
      rgba(0, 0, 0, 0.07) 0px 32px 64px;
    justify-content: center;
    position: absolute;
    z-index: 500;
    top: 15%;
    left: 3%;
  }
  .aboutme {
    padding: 15px;
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 18px;
    height: 50%;
    align-self: center;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 38px;

    position: relative;
    z-index: 30;
  }
  .backgroundpicture {
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0% 68%);
  }
  .name {
    position: relative;
    bottom: 85%;
    left: 73%;
    width: 100%;
  }
  .name p {
    color: white;

    font-size: 3.2rem;
  }
  .aboutme h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 26px;
    align-self: self-end;
    position: relative;
    right: 12%;
    top: 10%;
  }
  .aboutme span:nth-child(2) {
    font-size: 0.8em;
    line-height: 1.3em;
    color: #807e7d;
    position: relative;
    left: 59%;
    top: 10%;
    width: 43%;
  }
  .aboutme span:nth-child(3) {
    font-size: 0.8em;
    line-height: 1.3em;
    color: #807e7d;
    left: 1%;
    top: 36%;
    width: 100%;
    position: relative;
  }
  .links {
    display: none;
    position: relative;
    align-self: last baseline;
    top: 5%;
    right: 5%;
  }
}
.links ul li i {
  font-size: 3em;
}

@media (max-width: 767px) {
  .profilepic {
    align-self: center;
    width: 100%;
    position: relative;
    top: 10%;
  }
  .picture {
    height: auto;

    position: static;
  }
  .information {
    flex-direction: column;
    justify-content: flex-start;
  }
  .aboutme {
    box-shadow: none;
    position: relative;
    top: 17%;
    width: 100%;
  }
  .aboutme h3 {
    align-self: center;
  }
  .name p {
    text-align: center;
    font-size: 3.2em;
    white-space: break-spaces;
  }
  .name {
    align-self: flex-end;
    width: 100%;
    height: 20%;
    bottom: 11%;
    left: -9%;
  }
  .backgroundpicture {
    clip-path: polygon(0 0, 100% 0, 100% 34%, 0% 72%);
  }
  .aboutme span:nth-child(2) {
    margin-top: 1em;
  }
  .links ul li i {
    font-size: 1.5em;
  }
  .links {
    align-self: center;
  }
  .gridprojects {
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    justify-items: center;
  }
  .projects {
    position: relative;
    top: 35vh;
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-optical-sizing: auto;
  }
}

ul {
  list-style: none;
}
